<div>
    <h1>Welcome Back!</h1>
    <p>Tổ dân phố số 7 phường La Khê</p>
    <div class = "resident-dashboard">
    <h3>Hộ khẩu & Nhân khẩu</h3>
    <div class="stats-grid">
        <div class="stat-card primary">
            <div class="stat-icon"><i class="fas fa-home"></i></div>
            <div class="stat-info">
                <p class="stat-label">Tổng số Hộ</p>
                <h3 class="stat-number" id="totalHouseholds">0</h3> 
            </div>
        </div>
    
        <div class="stat-card success">
            <div class="stat-icon"><i class="fas fa-users"></i></div>
            <div class="stat-info">
                <p class="stat-label">Tổng Nhân khẩu</p>
                <h3 class="stat-number" id="totalResidents">0</h3> 
            </div>
        </div>
    
        <div class="stat-card warning">
            <div class="stat-icon"><i class="fas fa-user-clock"></i></div>
            <div class="stat-info">
                <p class="stat-label">Tạm trú / Sinh mới</p>
                <h3 class="stat-number" id="tamtru">0</h3> 
            </div>
        </div>
    
        <div class="stat-card info">
            <div class="stat-icon"><i class="fas fa-suitcase-rolling"></i></div>
            <div class="stat-info">
                <p class="stat-label">Tạm vắng / Qua đời</p>
                <h3 class="stat-number" id="tamvang">0</h3> 
            </div>
        </div>
    </div>
    </div>
    <div class = "nvh-dashboard">
    <h3>Nhà văn hóa</h3>
    </div>
</div>