<div class = "setting">
    <h2>Setting</h2>
    <form>
        <label for="old-password">Old Password:</label>
        <input type="password" id="old-password" required /><br />
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" required /><br />
        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" required /><br />
        <input type="submit" value="Change Password" onclick = "changePassword()"/>
    </form>
</div>